{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <br><br>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" class="form-control" name="image_name" required>
                <input type="submit" value="Upload" class="btn btn-outline-secondary">
            </div>
        </form>
    </div>

    {% if upload %}
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <img class="rounded float-left img-fluid" src="/static/predict/{{ upload_image }}" alt="">
                </div>
                <div class="col-md-6">
                    <table style="border: solid rgb(0, 0, 0); width: 100%;">
                        <tr style="border: solid rgb(0, 0, 0);">
                            <th>Number of Licence Plate Detected = {{no}}</th>
                        </tr>
                        {% for lic in text %}
                            <tr style="border: solid rgb(0, 0, 0);">
                                <td style="background-color: rgb(0, 176, 0);">
                                    <p class="display-8"> {{ lic }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock  %}
